{{ partial "head" . }}
<div id="main-content" class="container">
  <header>
    {{ partial "bloc/content/h1-title" . }}
  </header>
  {{ range $index := .Paginator.Pages }}
    {{ .Render "section.li" }}
  {{ end }}
  {{ partial "bloc/content/pagination" . }}
</div>
{{ partial "foot" . }}
