{{ partial "head" . }}
<section id="main-content" class="container main_content section">
  <header>
    {{ partial "bloc/content/h1-title" . }}
  </header>
  {{ range $index := .Paginator.Pages.ByTitle }}
    {{ .Render "section.li" }}
  {{ end }}
  {{ partial "bloc/content/pagination" . }}
</section>
{{ partial "foot" . }}
